.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #4E1DE6 !important;
  }
  
  .Button:active {
    background-color: #4E1DE6 !important;
  }
  
  .Button:focus {
    background-color: #4E1DE6;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #4E1DE6;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    /* border: 1px solid #4e1de6; */
    background-color: #ffffff;
    color: #4e1de6;
  }
  
  .Black,
  .BlackOutline:hover {
    /* background-color: #4e1de6;
    color: white; */
    background-color: #4e1de6;
    color: aliceblue;
  }
  
  .Black:hover,
  .BlackOutline {
    /* background-color: #dadadf;
    color: #242a3d;
    border-color: #242a3d; */
    background-color: aliceblue;
    color: #4e1de6;
  }
  
  .Bright {
    background-color: #2ed9ff;
    color: #4e1de6;
  }